matplotlib==3.3.4
PyMySQL==0.10.1
seaborn==0.11.1
scipy==1.5.4
networkx==2.5
plotly==3.10.0
colormath==3.0.0
umap==0.1.1
pandas==1.2.1
numpy==1.19.2
Bio==0.7.4
html2image==2.0.1
python_igraph==0.9.6
scikit_learn==0.24.2
